<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voucher Email</title>
</head>
<body style="margin: 0; padding-left: 5vw; padding-right: 5vw; height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #f4f4f4;">
    <div class="main" style="background-image: url('{{img}}'); background-size: cover; background-position: center; width: 100%; background-repeat: no-repeat; position: relative; border-radius: 10px; padding-bottom: 39.46%;">

        <!-- Content centered inside the .main div -->
        <div class="content" style="position: absolute; top: 14%; left: 60%; transform: translate(-50%, -50%); display: flex; flex-direction: column; align-items: start; justify-content: center; z-index: 10; color: #fff; font-family: Arial, sans-serif;">
            <div class="ref-id" style="font-size: 2vw; margin: .3vw 0;">Ref ID: <b>#{{ id }}</b></div>
            <div class="user-name" style="font-size: 2vw; margin: .3vw 0;">Name: <b>{{ name }}</b></div>

            <!-- Button for actions -->
            <!-- <a href="" class="redeem-button" style="background-color: #ff6347; padding: 12px 24px; color: white; text-decoration: none; border-radius: 5px; font-size: 1.5vw; margin-top: 10px; display: inline-block;">Redeem Now</a> -->
        </div>
    </div>
</body>
</html>
